This is an about you page
<br/>
<%if user_signed_in? %>
<div class="card" style="width: 18rem;">
<div class="text-center">
  <img src="/assets/profile-logo" class="rounded" alt="" style="width: 18rem;">
</div>

  <div class="card-body">
    <h5 class="card-title">
      <%= current_user.email %>
</h5>
    <p class="card-text">This user was created on <%= current_user.created_at.strftime("%d/%m/%Y at %H:%M" )%></p>
  </div>
</div>
<% end %>
